* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*^ General */

.name {
    font-weight: 600;
    font-size: 1.2rem;
}

.header .icons {
    color: #b1b1b1;
    display: flex;
    gap: 20px;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-color: white;
}
.box.image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}


/*& Background color + position window app*/

#top-bg {
    height: 15vh;
    background-color: #009688;
}

#bottom-bg {
    height: 85vh;
    background-color: #d5dbda;
}

.window-app {
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50% -50%);
}

.container-app{
    background-color: white;
    width: 1500px;
    height: 800px;
} 



/*& Suddivisione Nav - Main */

nav{
    width: 30%;
    height: 100%;

    border-right: 1px solid black ;
}

main{
    width: 70%;
    height: 100%;
}



/*& Header Navbar e main */

.header{
    width: 100%;
    height: 80px;

    background-color: #eaeaea;
}




/** Sezione Notifiche */

.notification {
    width: 100%;
    height: 100px;

    background-color: #8edafc;
}

.bell-color {
    color: #8edafc;
} 

.notification-message .recive {
    font-weight: 600;
}

.notification-message .active {
    color: gray;
    text-decoration: underline;
    font-size: 14px;
}

/** Sezione barra di ricerca */

.search-bar{
    width: 100%;
    height: 50px;

    background-color: #eaeaea;
}

.search-icon {
    color: #b1b1b1;

    padding: 10px 10px;
    background-color: white;
}
