* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*^ General */

.name {
    font-weight: 600;
    font-size: 1.2rem;
}

.header .icons {
    color: #b1b1b1;
    display: flex;
    gap: 20px;
}

.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background-color: white;
}
.box.image img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.overflow{
    overflow: auto;
}

.clear-fix::after{
    content: '';
    clear: both;
    display: block;
}


/*& Background color + position window app*/

#top-bg {
    height: 10vh;
    background-color: #009688;
}

#bottom-bg {
    height: 90vh;
    background-color: #dadbd3;
}

.window-app {
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50% -50%);
}

.container-app{
    background-color: white;
    width: 1500px;
    height: 800px;
} 



/*& Suddivisione Nav - Main */

nav{
    width: 30%;
    height: 100%;
    border-right: 2px solid gainsboro;
}

main{
    width: 70%;
    height: 100%;
}



/*& Header Navbar e main */

.header{
    width: 100%;
    height: 80px;

    background-color: #eaeaea;
}




/** Sezione Notifiche */

.notification {
    width: 100%;
    height: 100px;

    background-color: #8edafc;
}

.bell-color {
    color: #8edafc;
} 

.notification-message .recive {
    font-weight: 600;
}

.notification-message .active {
    color: gray;
    text-decoration: underline;
    font-size: 14px;
}

/** Sezione barra di ricerca */

.search-bar{
    width: 100%;
    height: 50px;

    background-color: #eaeaea;
}

.search-icon {
    color: #b1b1b1;

    padding: 10px 10px;
    background-color: white;
}

/** Sezione contatti */
.contacts{
    height: calc(100% - 230px);
}

.contacts-list{
    width: 100%;
    height: 80px;

    border-top: 1px solid #eaeaea;
}

.last-message, .last-access{
    color: gray;
    font-size: 14px;
}

/** MAIN */

main{
    position: relative;
}

.background-message{
    width: 100%;
    height: calc(100% - 160px);
    background-image: url(img/mine.jpg);
}

 .footer-main{
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;

    height: 80px;
    background-color: #f3eeea;
} 

/** Sezione Messaggi */


.message{
    min-width: 200px;
    max-width: 500px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
}

.message.sent{
    background-color: #d5f9ba;
    float: right;
}

.message.received{
    background-color: white;
    float: left;
}

/** Sezione Scrivi  un messaggio */

.footer-main .icon {
    color: gray;
}



::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    background:#66b8b2; 
}